body {
    background-color: black;
}

.container {
    text-align: center;
    font-family: sans-serif;
    background-color: dimgrey;
    color: black;
    padding: 10px;
}

.text-center {
    text-align: center;
    margin: auto;
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    text-align: center;
    white-space: nowrap;
    padding: 0 20px;
}

.image {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#iTitle {
    font-size: larger;
    font-style: bold;
}

.search {
    color: black;
}