<!DOCTYPE html>
<html>

<head>
    <% include ../includes/header.ejs %>
</head>

<body>
    <% include ../includes/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>
                    <%= title %>
                </h1>
                <p>This is the placeholder for Team Activity 02</p>
            </div>
        </div>
        <div class="container">
            <!-- Form for requirement 01 -->
            <form action="/ta02/addUser" method="POST">
                <label for="user">New Username</label><br>
                <input type="text" name="user">
                <button type="submit">Add User</button>
            </form>

        </div>
        <div>

            <form action="/ta02/removeUser" method="POST">
                <label for="remUser">Username to remove</label><br>
                <input type="text" name="remUser">
                <button type="submit">Remove User</button>
            </form>
            <!-- Form for requirement 03 -->
        </div>
        <div>
            <!-- Looped List for requirement 01-->
            <h2>Users:</h2>
            <% for(user of users) { %>
                <p>
                    <%= user %>
                </p>
                <% } %>
                    <!-- Looped List for requirement 01-->
        </div>
        </div>

</body>

</html>