<!DOCTYPE html>
<html>

<head>
    <% include ../includes/header.ejs %>
</head>

<body>
    <% include ../includes/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>
                    <%= title %>
                </h1>
                <h4>List of Users</h4>
                <div class="container">

                    <%if(users.length > 0){ %>
                        <ul>
                            <% for(let user of users){ %>
                                <li>
                                    <%= user %>
                                </li>
                                <% } %>
                        </ul>
                        <%} else { %>
                            None...
                            <% } %>

                </div>
                <p><a href="ta02/addUser">Add User</a></p>
            </div>
        </div>



</body>

</html>