<!DOCTYPE html>
<html>

<head>
    <% include ../includes/header.ejs %>
</head>

<body>
    <% include ../includes/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h1>
                    <%= title %>
                </h1>
                <form action="/ta02/addUser" method="POST">
                    <label for="addUser">Add User</label>
                    <input type="text" name="newUser">
                    <button type="submit" id="addUser"> Submit</button>
                </form>
                <form action="/ta02/removeUser" method="POST">
                    <label for="removeUser">Remove User</label>
                    <input type="text" name="removeUser">
                    <button type="submit" id="removeUser"> Submit</button>
                </form>

                <span><%=errorMessage%></span>

                <h2>
                    Users
                </h2>
                <% if(users.length > 0) {%>
                    <ul>
                        <% for(user of users){ %>
                            <li>
                                <%= user%>
                            </li>
                            <% }; %>
                    </ul>
                    <% } else { %>
                        <h3>No Users found</h3>
                        <% } %>
            </div>
        </div>
        <div class="container">

        </div>


</body>

</html>